.container {
    width: 1320px;
}


ul.titleAndLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 44px auto;
    padding: 0;
    width: 1244px;
}
ul.titleAndLink li {
    list-style-type: none;
}

ul.titleAndLink li:first-child {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

ul.titleAndLink li:last-child {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #BE123C;
}